@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
.navbar{
  background-color: #fff !important;
}
.navbar-brand{
  color: #565387 !important;
  font-size: 1.6rem !important;
}

.navbar a{
  font-size: 1.2rem;
  text-transform: capitalize;
}
.navbar a:hover{
  font-size: 1.2rem;
  color:#565387 !important; 
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.hed_text h1{
  padding-top: 130px !important;
  font-family: 'Playfair Display', serif;}
#header{
  margin-top: 50px;
  align-items: center;
}
#header .btn_started{
  align-items: center;
  padding: 7px 25px 7px 25px;
  border: 1px solid #3498db;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.5s;
}
.hed_button :hover{
  background-color:#3498db !important;
  color: white !important;
}
.hed_text h2{
  font-size: 18px !important;
}
.color_change{
  color: #0d6efd;
}
.header_img{
  text-align: right;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}


/* .card{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 400px;
} */